.pledge-email-form {
	label {
		display: inline-block;
		margin-bottom: 4px;
	}

	input[type="email"] {
		display: block;
		margin: 0 0 var(--wp--preset--spacing--10) 0;
		width: 100%;
		max-width: 30em;
		box-shadow: none;
	}

	.message {
		margin: 0 0 var(--wp--preset--spacing--10) 0;
	}
}
