/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

@import "pledge-form";

/* Add default focus style. */
:where(main) a:where(:not(.wp-element-button,.wp-block-wporg-link-wrapper)):focus,
:where(main) button:where(:not([class*="wp-block-button"])):focus {
	outline: none;
	border-radius: 2px;
	box-shadow: 0 0 0 1.5px currentColor;
}
