/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

@import "notice";
@import "pledge-form";
@import "pledge-email-form";

/* Add default focus style. */
:where(main) a:where(:not(.wp-element-button,.wp-block-wporg-link-wrapper)):focus,
:where(main) button:where(:not([class*="wp-block-button"])):focus {
	outline: none;
	border-radius: 2px;
	box-shadow: 0 0 0 1.5px currentColor;
}

/* Style the homepage top section. */
.is-hero-section {

	@media (max-width: 1080px) {
		flex-direction: column;
		row-gap: var(--wp--preset--spacing--40);
	}
}

/* Remove border from search form. */
.wp-block-search {
	--wp--custom--form--border--width: 0;
}

/* Hide the post title on search pages, or if it is in the main navigation. */
body.search .wp-block-wporg-local-navigation-bar .wp-block-post-title,
body.is-page-in-menu .wp-block-wporg-local-navigation-bar .wp-block-post-title {
	display: none;
}

/* Style the group blocks inside a template list. */
.wp-block-wporg-my-pledge-list .my-pledges__list,
.wp-block-post:where(li.type-5ftf_pledge) {
	> .wp-block-group {

		@media (max-width: 1080px) {
			gap: var(--wp--preset--spacing--40);
		}

		@media (max-width: 960px) and (min-width: 600px) {
			.wp-block-post-featured-image {
				max-width: 110px;
			}
		}
	}

	@media (max-width: 600px) {
		+ * {
			margin-block-start: 40px;
		}

		> .wp-block-group {
			flex-direction: column;

			> .wp-block-group:first-child {
				width: 100%;
				align-self: center;
			}

			.wp-block-post-featured-image {
				max-width: 100%;
				width: 200px !important;
			}
		}
	}
}
