/*
 * Theme Name: Five for the Future, 2024
 * Theme URI: https://github.com/WordPress/five-for-the-future/
 * Author: WordPress.org
 * Author URI: https://wordpress.org/
 * Description: A block-based child theme for WordPress.org/five/
 * Version: 1.0.0
 * License: GNU General Public License v2 or later
 * Text Domain: wporg-5ftf
 * Template: wporg-parent-2021
 */

/* This file is not used. Add CSS to `src/style/*`. */
