<!-- wp:template-part {"slug":"header","className":"has-display-contents"} /-->

<!-- wp:group {"tagName":"article","layout":{"inherit":true,"type":"constrained"}} -->
<article class="wp-block-group">

	<!-- wp:pattern {"slug":"wporg-5ftf-2024/my-pledges"} /-->

</article>
<!-- /wp:group -->
	
<!-- wp:spacer {"height":"var:preset|spacing|40","style":{"spacing":{"margin":{"top":"var:preset|spacing|40"}}}} -->
<div style="margin-top:var(--wp--preset--spacing--40);height:0" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
	
<!-- wp:template-part {"slug":"footer"} /-->
