<!-- wp:template-part {"slug":"header","className":"has-display-contents"} /-->

<!-- wp:group {"tagName":"article","layout":{"inherit":true,"type":"constrained"}} -->
<article class="wp-block-group">
	<!-- wp:group -->
	<div class="wp-block-group">
		<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"top":"0px","bottom":"var:preset|spacing|40"}}}} /-->
	</div>
	<!-- /wp:group -->
	
	<!-- wp:post-content {"layout":{"type":"constrained"},"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|edge-space","left":"var:preset|spacing|edge-space"}}}} /-->

</article>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
